<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Búsqueda de mensajes</strong>
        </div>

        <div class="card-body">
            <form class="form" [formGroup]="cdaForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-6 col-xl mb-6 mb-xl-0">
                        <label for="toDate">Fecha *</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="aaaa-mm-dd" formControlName="toDate" ngbDatepicker
                                #dpStart="ngbDatepicker" name="toDate">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="dpStart.toggle()" type="button"><i
                                        class="icon-calendar"></i></button>
                            </div>
                        </div>
                        <span class="text-danger"
                            *ngIf="(registerFormControl.toDate.touched || submitted) && registerFormControl.toDate.errors?.required">
                            Criterio de busqueda invalido, el campo de fecha es obligatorio para cualquier
                            consulta
                        </span>
                        <!-- <span class="text-danger"
                            *ngIf="(registerFormControl.toDate.touched || submitted) && registerFormControl.toDate.errors?.invalidDate">
                            Dato invalido, fecha no valida
                        </span> -->
                    </div>

                    <div class="form-group col-6 col-xl mb-6 mb-xl-0">                        <label for="trackingKey">Clave de rastreo</label>
                        <input type="text" class="form-control" formControlName="trackingKey"
                            placeholder="ej: 192812891" name="trackingKey">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.trackingKey.touched || submitted) && registerFormControl.trackingKey.errors?.maxlength">
                            Clave de rastreo no debe exceder 30 caracteres
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.trackingKey.touched && registerFormControl.trackingKey.errors?.invalidAccount">
                            Dato inválido, para Clave de rastreo no se aceptan letras, espacios o
                            caracteres especiales
                        </span>
                    </div>

                   
                </div>

                <div class="row">

                    <div class="form-group col-6 col-xl mb-6 mb-xl-0">
                        <label for="beneficiaryAccount">RFC/CURP</label>
                        <input type="text" class="form-control" formControlName="rfcCurp"
                            placeholder="ej: FDCJ874525HOAXPX08" name="rfcCurp">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.rfcCurp.touched || submitted) && registerFormControl.rfcCurp.errors?.maxlength">
                            Dato inválido, el RFC/CURP no puede ser mayor a 18 posiciones
                            <br>
                        </span>
                    </div>

                    <div class="form-group col-6 col-xl mb-6 mb-xl-0">                        
                        <label for="ammount">Monto de depósito:</label>
                        <input type="text" class="form-control" formControlName="ammount" placeholder="ej: $100,000.00"
                            name="ammount">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.ammount.touched || submitted) && registerFormControl.ammount.errors?.maxlength">
                            Dato inválido, el monto del deposito no puede ser mayor a 19 posiciones. Considerar 12
                            enteros, un punto decimal y dos
                            decimales o el valor máximo indicado para el campo.
                            <br>
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.ammount.touched && registerFormControl.ammount.errors?.invalidMoney">
                            Dato inválido, el monto no acepta letras, espacios o caracteres especiales
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6 col-xl mb-6 mb-xl-0">
                        <label for="orderingAccount">Cuenta Ordenante</label>
                        <input type="text" class="form-control" formControlName="orderingAccount"
                            placeholder="ej: 12345123451234512345" name="orderingAccount">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.orderingAccount.touched || submitted) && registerFormControl.orderingAccount.errors?.maxlength">
                            Dato inválido, la cuenta ordenante no puede ser mayor a 20 posiciones
                            <br>
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.orderingAccount.touched && registerFormControl.orderingAccount.errors?.invalidAccount">
                            Dato inválido, para la cuenta del ordenante no se aceptan letras, espacios o
                            caracteres especiales
                        </span>
                    </div>
                    
                    <div class="form-group col-6 col-xl mb-6 mb-xl-0">                       
                         <label for="beneficiaryAccount">Cuenta del beneficiario</label>
                        <input type="text" class="form-control" formControlName="beneficiaryAccount"
                            placeholder="ej: 12345123451234512345" name="beneficiaryAccount">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.beneficiaryAccount.touched || submitted) && registerFormControl.beneficiaryAccount.errors?.maxlength">
                            Dato inválido, la cuenta del beneficiario no puede ser mayor a 20 posiciones
                            <br>
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.beneficiaryAccount.touched && registerFormControl.beneficiaryAccount.errors?.invalidAccount">
                            Dato inválido, para la cuenta del beneficiario no se aceptan letras, espacios o
                            caracteres especiales
                        </span>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group col-6 col-xl mb-6 mb-xl-0" [hidden]="amountSwitch">
                        <label for="">Hora de depósito. Desde:</label>
                        <input type="text" class="form-control" formControlName="startingHour" placeholder="ej: 23:59:59"
                            name="startingHour">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.startingHour.touched || submitted) && registerFormControl.startingHour.errors?.maxlength">
                            Dato invalido, la hora no puede tener mas de 8 caracteres
                            <br>
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.startingHour.touched && registerFormControl.startingHour.errors?.invalidTime">
                            Dato inválido, en el campo hora no se aceptan letras o caracteres especiales. Solo es
                            valido el formarto de 24 horas.
                        </span>
                    </div>
                    <div class="form-group col-6 col-xl mb-6 mb-xl-0" [hidden]="amountSwitch">
                        <label for="">Hora de depósito. Hasta:</label>
                        <input type="text" class="form-control" formControlName="endingHour" placeholder="ej: 23:59:59"
                            name="endingHour">
                        <span class="text-danger"
                            *ngIf="(registerFormControl.endingHour.touched || submitted) && registerFormControl.endingHour.errors?.maxlength">
                            Dato invalido, la hora no puede tener mas de 8 caracteres
                            <br>
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.endingHour.touched && registerFormControl.endingHour.errors?.invalidTime">
                            Dato inválido, en el campo hora no se aceptan letras o caracteres especiales. Solo es
                            valido el formarto de 24 horas.
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-12 col-xl mb-12 mb-xl-0 d-flex h-100 ">
                        <label class="switch switch-3d switch-primary">
                            <input type="checkbox" class="switch-input form-control" formControlName="switchAmount" checked (change)="changeSwitchAmount()" name="switchAmount">
                            <span class="switch-slider"></span>
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <label for="" [hidden]="amountSwitch">Deshabilitar busqueda por hora:</label>
                        <label for="" [hidden]="!amountSwitch">Habilitar busqueda por hora</label>
                    </div>
                </div>
                <div class="row align-items-center text-right">
                    <div class="col-12 col-xl mb-12 mb-xl-0">
                        <button class="btn btn-primary " [disabled]="!activateExport"
                            (click)="exportSelectedExcel()">Exportar</button>
                            <label class="radio-inline"><input type="radio" name="optradio" checked>Excel</label>
<label class="radio-inline"><input type="radio" name="optradio">TXT</label>
                        <button type="submit" [disabled]="!cdaForm.valid" class="btn btn-primary">Buscar</button>
                        <!--                         <button type="button" class="btn btn-primary"
                            (click)="isCollapsedMain = !isCollapsedMain; searchCDABtn()">Buscar</button> -->
                    </div>
                </div>
            </form>
<!-- 
            <ul>
                <li>Is my form  valid? {{cdaForm.valid}}</li>
                <li><pre>{{cdaForm.controls.endingHour.errors| json}}</pre></li>
            </ul>

            <div [hidden]="errorMessage" style="color:red; padding-top: 10px;">
                {{errorMessageCat}}
            </div> -->
          
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <strong>Resultados</strong>
                </div>
                <div class="card-body" (collapsed)="collapsedMain($event)" (expanded)="expandedMain($event)"
                [collapse]="isCollapsedMain">
                    <div class="col-md-12 mb-12">
                        <!-- Nav tabs -->


                        <div class="row">
                            <div class="col-md-2 mb-2">
                                Resultados a mostrar:
                            </div>
                            <div class="col-md-1 mb-1">

                                <select id="rows" class="form-control form-control-sm mr-sm-2 mb-3 mb-sm-0" #rowLength
                                    (change)="myTable.changeRowLength(rowLength.value)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="all">All</option>
                                </select>

                            </div>





                            <div class="table-responsive">
                                <generic-table #myTable [gtSettings]="configObject.settings"
                                    [gtFields]="configObject.fields" [gtData]="configObject.data"
                                    (gtEvent)="trigger($event)"></generic-table>
                                <gt-pagination [gtClasses]="'pagination-sm justify-content-center'"
                                    [genericTable]="myTable"></gt-pagination>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <strong>Resultados</strong>
                </div>
                <div class="card-body" (collapsed)="collapsedMain($event)" (expanded)="expandedMain($event)"
                    [collapse]="isCollapsedMain">

                </div>
            </div>
        </div>
    </div> -->
</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Información de CDA</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <!-- Conteido de rusultado - inicio -->

                <div class="col-md-12 mb-12">
                    <!-- Nav tabs -->


                    <div class="row">

                        <div class="col-md-12 mb-12">
                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        Datos Generales
                                        <button type="button" class="btn btn-primary sm pull-right"
                                            (click)="isCollapsed1 = !isCollapsed1"><i id="datos-generales-chevron"
                                                class="fa fa-chevron-down" [hidden]="ColapseDG"></i>
                                            <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                [hidden]="!ColapseDG"></i>
                                        </button>
                                    </div>
                                    <div class="card-body" (collapsed)="collapsed1($event)"
                                        (expanded)="expanded1($event)" [collapse]="isCollapsed1">
                                        <dl class="row">
                                            <dt class="col-sm-3">Tipo de Pago</dt>
                                            <dd class="col-sm-9">{{cdaScreen.paymentType}}</dd>

                                            <dt class="col-sm-3">Banco</dt>
                                            <dd class="col-sm-9">{{cdaScreen.nameOfTransferOrderIssuerParticipant}}
                                            </dd>

                                            <dt class="col-sm-3">Importe</dt>
                                            <dd class="col-sm-9">{{cdaScreen.amountOfPayment}}</dd>

                                            <dt class="col-sm-3">Clave de Rastreo</dt>
                                            <dd class="col-sm-9">{{cdaScreen.trackingKey}}</dd>

                                            <dt class="col-sm-3">Concepto del Pago</dt>
                                            <dd class="col-sm-9">{{cdaScreen.conceptOfPayment}}</dd>

                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">


                        <div class="col-md-12 mb-12">
                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        Datos del Ordenante
                                        <button type="button" class="btn btn-primary sm pull-right"
                                            (click)="isCollapsed2 = !isCollapsed2"><i id="datos-generales-chevron"
                                                class="fa fa-chevron-down" [hidden]="ColapseDO"></i>
                                            <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                [hidden]="!ColapseDO"></i>
                                        </button>
                                    </div>
                                    <div class="card-body" (collapsed)="collapsed2($event)"
                                        (expanded)="expanded2($event)" [collapse]="isCollapsed2">
                                        <dl class="row">
                                            <dt class="col-sm-3">Tipo de Cuenta</dt>
                                            <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                            <dt class="col-sm-3">Cuenta</dt>
                                            <dd class="col-sm-9">{{cdaScreen.orderingAccount}}</dd>

                                            <dt class="col-sm-3">RFC o CURP</dt>
                                            <dd class="col-sm-9">{{cdaScreen.rfcOrCurpPayer}}</dd>

                                            <dt class="col-sm-3">Nombre</dt>
                                            <dd class="col-sm-9">{{cdaScreen.orderingName}}</dd>

                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="row">

                        <div class="col-md-12 mb-12">
                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        Datos del Beneficiario 1
                                        <button type="button" class="btn btn-primary sm pull-right"
                                            (click)="isCollapsed3 = !isCollapsed3"><i id="datos-generales-chevron"
                                                class="fa fa-chevron-down" [hidden]="ColapseDB1"></i>
                                            <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                [hidden]="!ColapseDB1"></i>
                                        </button>
                                    </div>
                                    <div class="card-body" (collapsed)="collapsed3($event)"
                                        (expanded)="expanded3($event)" [collapse]="isCollapsed3">
                                        <dl class="row">
                                            <dt class="col-sm-3">Tipo de Cuenta</dt>
                                            <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                            <dt class="col-sm-3">Cuenta</dt>
                                            <dd class="col-sm-9">{{cdaScreen.cuentaBeneficiario}}</dd>

                                            <dt class="col-sm-3">RFC o CURP</dt>
                                            <dd class="col-sm-9">{{cdaScreen.rFCOCurpBeneficiario}}</dd>

                                            <dt class="col-sm-3">Nombre</dt>
                                            <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario}}</dd>

                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">


                        <div class="col-md-12 mb-12">
                            <div class="animated fadeIn">
                                <div class="card">
                                    <div class="card-header">
                                        Datos del Beneficiario 2
                                        <button type="button" class="btn btn-primary sm pull-right"
                                            (click)="isCollapsed4 = !isCollapsed4"><i id="datos-generales-chevron"
                                                class="fa fa-chevron-down" [hidden]="ColapseDB2"></i>
                                            <i id="datos-generales-chevron" class="fa fa-chevron-right"
                                                [hidden]="!ColapseDB2"></i>
                                        </button>
                                    </div>
                                    <div class="card-body" (collapsed)="collapsed4($event)"
                                        (expanded)="expanded4($event)" [collapse]="isCollapsed4">
                                        <dl class="row">
                                            <dt class="col-sm-3">Tipo de Cuenta</dt>
                                            <dd class="col-sm-9">{{cdaScreen.ordererAccountType}}</dd>

                                            <dt class="col-sm-3">Cuenta</dt>
                                            <dd class="col-sm-9">{{cdaScreen.cuentaBeneficiario2}}</dd>

                                            <dt class="col-sm-3">RFC o CURP</dt>
                                            <dd class="col-sm-9">{{cdaScreen.rFCOCurpBeneficiario2}}</dd>

                                            <dt class="col-sm-3">Nombre</dt>
                                            <dd class="col-sm-9">{{cdaScreen.nombreBeneficiario2}}</dd>

                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                    <br />
                    <h3>Cadena Original</h3>
                    <div class="col-md-12">
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                            placeholder="Content.." disabled>{{cdaScreen.originalString}}</textarea>
                    </div>
                    <br />
                    <h3>Sello Digital</h3>
                    <div class="col-md-12">
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                            placeholder="Content.." disabled>{{cdaScreen.selloDigital}}</textarea>
                    </div><br />
                    <h3>CDA</h3>
                    <div class="col-md-12">
                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                            placeholder="Content.." disabled>{{cdaScreen.CDA}}</textarea>
                    </div>
                    <br />
                </div>


                <!-- Conteido de rusultado - fin -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="lgModal.hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>